@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin:0;
  background-color: black;
  cursor: url('./마우스.png'), auto;
}

header{ 
  width: 4480px;
  height: 2520px;
  background-image:url("./표지.png");
  margin-top: 200px;
}

.middle{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.inner{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: row;
  padding-right: 100px;
}
.daybox{
  display: inline-flex;
  margin: 0px;
  width: 600px;
  height: 600px;
}
.text{margin-left: 70px;
}
.txt-title{
  font-size: 100px;
  font-family: 'GangwonEduPowerExtraBoldA';
  animation:  cursor 0.2s ease infinite;
  position: absolute;
  bottom:700px;
  left:39.5%;
  z-index: 3;
}


.poster {
  position: relative;
  width: 200px;
  height: 250px;
  animation: poster-ani 1.6s infinite linear alternate;
  transform-style: preserve-3d;
}
@keyframes poster-ani{
  0%{
    transform: rotateY(-20deg);
  }
  100%{
    transform: rotateY(20deg);
  }
  
}

.bottle{
  position:absolute;
  width: 100%;
}

.bottle:nth-of-type(1) {
  width: 80%;
  left:-32%;
  bottom:30%;
  transform: translateZ(20px) rotateZ(-70deg);
}

.bottle:nth-of-type(2) {
  width: 80%;
  left: 20%;
  bottom: 30%;
  transform: translateZ(50px);
}

.bottle:nth-of-type(3) {
  width: 120%;
  left: -15%;
  bottom: 20%;
  transform: translateZ(70px);
}

.world{
  position: relative;
  top: 1000px;
  right: -50px;
  width: 500px;
  perspective: 3000px;
  transform: scale(3) translate(50%,50%);
}


.startbut{
  animation: daybut-ani 5s infinite linear alternate;
}

@keyframes daybut-ani{
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(360deg);
  }
  
}