
@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


input[type=checkbox] {

  -ms-transform: scale(2); /* IE */
  
  -moz-transform: scale(2); /* FF */
  
  -webkit-transform: scale(2); /* Safari and Chrome */
  
  -o-transform: scale(2); /* Opera */
  
  padding: 10px;
  
  }

h1{
  font-family: 'GangwonEduPowerExtraBoldA';
  font-size: 50px;
  margin:10px,0px;

}

label{
  font-family: 'GangwonEduPowerExtraBoldA';
  font-size: 25px;
  color: gray;
  -ms-transform: scale(2); /* IE */
  
  -moz-transform: scale(2); /* FF */
  
  -webkit-transform: scale(2); /* Safari and Chrome */
  
  -o-transform: scale(2); /* Opera */
  
  padding: 10px;
}
body{
  position: relative;
  text-align: center;
  margin: 0;
  background-color: #FFE269;
  cursor: url('../2.메인페이지/마우스.png'), auto;
}

img{
  width: 1000px;
  position:absolute;
  top: 160%;
  left: 50%;
  transform: translate(-50%, 0%);
}

button{
  margin-top: 40px;
  position: relative;
    border: none;
    display: inline-block;
    padding: 16px 50px 10px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    font-family: 'GangwonEduPowerExtraBoldA';
    font-size: 20px;
    background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
    color: white;
}
button:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}
.heading-next{
  margin-top: 150px;
  z-index: 1;
  position:absolute;
}
.container{
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  color: black;
  align-items: center;
}

.input-box{
  flex-direction: column;
  text-align: left;
  margin-top: 10px;
  line-height:50px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;

  background-color: rgba(0, 0, 0, 0.4);
}
