@import url(../style.css);


.container_image{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}


#gate {
  position: absolute;
  cursor: pointer;
  width: 200px;
  height: auto;
}
.container2 {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
}
.container3 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 100px;
}
.container4 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
}
.container5 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 50px;
}

.container6 {
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 80px;
}





#outer{
  background-image: url("./술집배경.jpg");
  background-size: 100%;
}